<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        {% if user.id == post.user_id %}
        <h1 style="text-align: center;">Update Post</h1>
        <div style="display: flex; align-items: center; flex-direction: column;">
            <form method="post" enctype="multipart/form-data" action="{% url 'update_post' post.id %}">
                <img src="{{post.cover.url}}" alt="{{post}}" style="max-width: 500px; max-height: 500px;">
                {% csrf_token %}
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <h2 style="text-align: center;">New Title:</h2>
                    {{ form.title }}
                    <button name="update" value="{{post_id}}">Update Post</button>
                </div>
            </form>
            {% else %}
            <p>You are not allowed to update this post</p>
            {% endif %}
            {% else %}
            You must be logged in to post
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </body>
</html>
